<nav>
  <div class="nav-media">
    <img src="../../assets/nav-media/facebook.png" class="nav-media_item" />
    <img src="../../assets/nav-media/instagram.png" class="nav-media_item" />
  </div>

  <div class="nav-content">
    <div class="nav-content-button">
      <button
        class="nav-content-button_button"
        (click)="toggle()"
        [class.nav-content-button_button-active]="isExpanded"
      ></button>
    </div>

    <div class="nav-content-title">
      <div class="nav-content-title_tittle">
        <span class="color_primary">M</span>aster<span class="color_primary"
          >D</span
        >esigner
      </div>
    </div>

    <div class="nav-content-switch">
      <label class="nav-content-switch_label">
        <input
          class="nav-content-switch_checkbox"
          type="checkbox"
          (change)="setKeyValueOfLocalStorage()"
        />
        <span class="nav-content-switch_slider"></span>
      </label>

      <div class="nav-content-switch-bulb"></div>
    </div>
  </div>

  <div class="nav-logo" [class.nav-logo-active]="isExpanded">
    <div
      class="nav-logo_logo"
      [class.nav-logo_logo-active]="isExpanded"
      [class.nav-logo_logo-dark]="darkTheme"
    ></div>
    <div
      class="nav-logo-ankars"
      [class.nav-logo-ankars-active-dark]="darkTheme"
      [class.nav-logo-ankars-active]="isExpanded"
    >
      <a
        class="nav-logo-ankars_item nav-logo-ankars_item1"
        [class.nav-logo-ankars_item1-active2]="isExpanded2"
        href=""
        >STRONA GŁÓWNA</a
      >

      <div class="nav-logo-ankars-pair">
        <a
          class="nav-logo-ankars_item nav-logo-ankars_item2"
          [class.nav-logo-ankars_item2-active2]="isExpanded2"
          href="/oferta"
          >OFERTA</a
        >

        <div class="nav-logo-ankars-arrow">
          <button
            class="nav-logo-ankars-arrow_arrow"
            (click)="toggle2()"
            [class.nav-logo-ankars-arrow_arrow-active2]="isExpanded2"
          ></button>
        </div>

        <div
          class="nav-logo-offer-items"
          [class.nav-logo-offer-items-active2]="isExpanded2"
        >
          <a class="nav-logo-ankars_item" href="/oferta/strony"
            >STRONY INTERNETOWE</a
          >
          <a class="nav-logo-ankars_item" href="/oferta/grafika">GRAFIKA</a>
        </div>
      </div>
      <a
        class="nav-logo-ankars_item nav-logo-ankars_item3"
        [class.nav-logo-ankars_item3-active2]="isExpanded2"
        href="/kontakt"
        >KONTAKT</a
      >
    </div>
  </div>
</nav>
