::ng-deep :root {
  --lightSwitchBulb: url("data:image/svg+xml,%3Csvg width='51' height='65' viewBox='0 0 51 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2107 59.2391H32.3002' stroke='black' stroke-width='3'/%3E%3Cpath d='M12.6378 54.177H38.1532' stroke='black' stroke-width='4'/%3E%3Cpath d='M20.8743 29.4388H25.3955H30.092V46.5537M21.0145 29.1676V46.6742' stroke='black' stroke-width='2'/%3E%3Cpath d='M49.1049 20.0075C49.1049 25.2618 46.4306 32.5617 42.0207 38.5649C37.6025 44.5794 31.6507 49.0188 25.2555 49.0188C18.8602 49.0188 12.9084 44.5794 8.49016 38.5649C4.08027 32.5617 1.40601 25.2618 1.40601 20.0075C1.40601 9.70143 11.8705 1 25.2555 1C38.6404 1 49.1049 9.70143 49.1049 20.0075Z' stroke='black' stroke-width='2'/%3E%3Cpath d='M20.7155 27.8719C20.7155 28.7641 19.8197 29.7344 18.3859 29.7344C16.9521 29.7344 16.0563 28.7641 16.0563 27.8719C16.0563 26.9798 16.9521 26.0094 18.3859 26.0094C19.8197 26.0094 20.7155 26.9798 20.7155 27.8719Z' stroke='black' stroke-width='2'/%3E%3Cpath d='M35.0854 27.8719C35.0854 28.7641 34.1896 29.7344 32.7558 29.7344C31.322 29.7344 30.4261 28.7641 30.4261 27.8719C30.4261 26.9798 31.322 26.0094 32.7558 26.0094C34.1896 26.0094 35.0854 26.9798 35.0854 27.8719Z' stroke='black' stroke-width='2'/%3E%3Cpath d='M20.8743 64L30.1271 64' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  --darkSwitchBulb: url("data:image/svg+xml,%3Csvg width='51' height='65' viewBox='0 0 51 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2107 59.2391H32.3002' stroke='white' stroke-width='3'/%3E%3Cpath d='M12.6378 54.177H38.1532' stroke='white' stroke-width='4'/%3E%3Cpath d='M20.8743 29.4388H25.3955H30.092V46.5537M21.0145 29.1676V46.6742' stroke='white' stroke-width='2'/%3E%3Cpath d='M49.1049 20.0075C49.1049 25.2618 46.4306 32.5617 42.0207 38.5649C37.6025 44.5794 31.6507 49.0188 25.2555 49.0188C18.8602 49.0188 12.9084 44.5794 8.49016 38.5649C4.08027 32.5617 1.40601 25.2618 1.40601 20.0075C1.40601 9.70143 11.8705 1 25.2555 1C38.6404 1 49.1049 9.70143 49.1049 20.0075Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M20.7155 27.8719C20.7155 28.7641 19.8197 29.7344 18.3859 29.7344C16.9521 29.7344 16.0563 28.7641 16.0563 27.8719C16.0563 26.9798 16.9521 26.0094 18.3859 26.0094C19.8197 26.0094 20.7155 26.9798 20.7155 27.8719Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M35.0854 27.8719C35.0854 28.7641 34.1896 29.7344 32.7558 29.7344C31.322 29.7344 30.4261 28.7641 30.4261 27.8719C30.4261 26.9798 31.322 26.0094 32.7558 26.0094C34.1896 26.0094 35.0854 26.9798 35.0854 27.8719Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M20.8743 64L30.1271 64' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");

  --lightNavLogo: url("data:image/svg+xml,%3Csvg width='305' height='300' viewBox='0 0 305 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.2754 126.997H84.7266V187.802H80.2754V126.997Z' fill='black'/%3E%3Cpath d='M80.2754 126.997H84.7266V187.802H80.2754V126.997Z' stroke='black'/%3E%3Cpath d='M168.621 106.25H150.872V188.75H168.621V106.25Z' fill='black'/%3E%3Cpath d='M134.906 161.631L147.023 132.432C149.294 133.643 138.995 158.303 137.632 161.934C127.636 188.107 129.453 187.199 126.424 188.107C124.001 188.833 118.346 180.543 115.822 176.307C113.348 171.818 107.886 161.571 105.826 156.488C103.251 150.133 99.0103 140.299 97.1928 135.004C92.4976 124.414 92.1947 124.717 88.2568 118.362C82.3499 108.377 70.6876 108.68 71.7478 108.377C72.808 108.075 74.777 107.621 81.7441 106.864C88.7112 106.108 96.8899 107.772 101.737 109.739C106.583 111.706 110.218 113.067 114.913 118.362C119.524 123.563 120.63 125.845 124.971 134.809L125.213 135.307C128.848 142.811 133.189 155.983 134.906 161.631Z' fill='black'/%3E%3Cpath d='M173.692 186.25C200.003 186.25 221.87 170.316 221.87 147.125C221.87 123.934 200.003 108.75 173.692 108.75' stroke='black' stroke-width='7'/%3E%3Cpath d='M279.027 147.316C279.027 77.1642 220.726 20.2946 148.809 20.2946M148.809 274.338C76.8922 274.338 18.5918 217.469 18.5918 147.316' stroke='black'/%3E%3Cpath d='M286.262 147.317C286.262 73.2671 224.722 13.238 148.81 13.238M148.81 281.395C72.8972 281.395 11.3579 221.366 11.3579 147.317' stroke='black'/%3E%3Cpath d='M30.4073 108.516L30.0049 108.397C30.2548 107.721 30.2728 107.289 30.059 107.101L20.4225 104.257C20.1254 104.295 19.852 104.652 19.6021 105.328L19.1998 105.209L20.2131 102.467L30.5998 101.095L23.1696 94.4657L24.1968 91.686L24.5991 91.8047C24.3492 92.4808 24.3312 92.9129 24.545 93.101L34.1815 95.9444C34.4786 95.9071 34.7521 95.5503 35.0019 94.8742L35.4042 94.9929L33.8913 99.0874L33.4889 98.9687C33.7388 98.2925 33.7568 97.8604 33.543 97.6723L24.941 95.1342L32.7739 102.111L32.6698 102.393L21.5781 103.89L30.295 106.462C30.5921 106.425 30.8655 106.068 31.1154 105.392L31.5177 105.511L30.4073 108.516Z' fill='black'/%3E%3Cpath d='M44.6024 77.6773L44.2482 77.4522C44.5952 76.946 44.7465 76.584 44.7021 76.3662L41.4876 75.6505L39.315 78.8196L41.2061 81.2537C41.484 81.2722 41.819 80.9954 42.2113 80.4232L42.5655 80.6483L40.7098 83.3553L40.3555 83.1302C40.778 82.514 40.8975 82.0923 40.7142 81.8652L33.7502 72.8425L34.2933 72.0502L45.6479 74.6686C45.9368 74.7417 46.2963 74.4646 46.7263 73.8373L47.0805 74.0624L44.6024 77.6773ZM35.9031 74.4002L38.8941 78.2678L40.7951 75.4948L35.9031 74.4002Z' fill='black'/%3E%3Cpath d='M56.2405 63.3447C55.7791 63.8073 55.2372 64.209 54.6148 64.5498C53.9924 64.8906 53.6718 65.0705 53.653 65.0894C53.5965 65.146 53.559 65.2402 53.5405 65.372C53.522 65.5038 53.5507 65.6073 53.6264 65.6823L53.3016 66.008L51.3262 64.0524L51.637 63.7409C52.309 64.1998 53.0037 64.3339 53.721 64.1434C54.4382 63.934 55.0887 63.5367 55.6726 62.9513C56.1717 62.4509 56.4677 61.9277 56.5605 61.3816C56.6533 60.8355 56.4723 60.3373 56.0175 59.8871C55.8091 59.6808 55.5725 59.5404 55.3078 59.466C55.0525 59.3821 54.7596 59.3642 54.4292 59.4124C54.0987 59.4417 53.8013 59.4944 53.5371 59.5706C53.2633 59.6373 52.9189 59.7373 52.5037 59.8704C52.0884 59.9847 51.7675 60.0704 51.541 60.1276C51.0029 60.2517 50.6018 60.3424 50.3375 60.3997C50.0637 60.4477 49.6907 60.4912 49.2186 60.5304C48.7558 60.5602 48.3495 60.5144 47.9996 60.3933C47.6498 60.2721 47.3375 60.0755 47.0627 59.8035C46.5038 59.2501 46.2511 58.4934 46.3049 57.5333C46.3587 56.5733 46.701 55.777 47.332 55.1445C47.6051 54.8707 48.0151 54.6011 48.5622 54.3359C49.1092 54.0706 49.411 53.9096 49.4675 53.853C49.5805 53.7397 49.5423 53.5892 49.3528 53.4017L49.6777 53.0759L51.6238 54.7211L51.313 55.0326C50.8396 54.6766 50.2866 54.542 49.654 54.6287C49.012 54.7061 48.4037 55.0327 47.8293 55.6087C47.3961 56.0429 47.1898 56.533 47.2103 57.0787C47.2308 57.6056 47.3832 58.0098 47.6674 58.2911C47.8474 58.4693 48.0603 58.5957 48.3061 58.6702C48.5425 58.7353 48.8164 58.7438 49.128 58.6957C49.4395 58.6476 49.7275 58.5949 49.9918 58.5376C50.2466 58.4709 50.5769 58.3757 50.9827 58.2521C51.3979 58.119 51.7188 58.0238 51.9453 57.9666C52.5683 57.814 53.0213 57.709 53.3045 57.6516C53.5877 57.5942 53.9796 57.5506 54.4801 57.5207C54.9901 57.4814 55.4247 57.5365 55.7841 57.6859C56.1435 57.8164 56.4747 58.0318 56.7779 58.3319C57.479 59.026 57.746 59.8532 57.5789 60.8136C57.4118 61.774 56.9657 62.6177 56.2405 63.3447Z' fill='black'/%3E%3Cpath d='M58.1469 45.0291L66.3447 39.2394L67.4226 40.8534L67.0797 41.0956C66.6796 40.4966 66.3374 40.224 66.053 40.278L63.3748 42.1694L69.0421 50.6555C69.2883 50.8082 69.7053 50.6769 70.2932 50.2617L70.5266 50.6112L66.9666 53.1254L66.7332 52.776C67.3211 52.3608 67.5899 52.0077 67.5398 51.7166L61.8724 43.2305L59.1943 45.1219C59.0432 45.3756 59.1677 45.8019 59.5677 46.4009L59.2248 46.6431L58.1469 45.0291Z' fill='black'/%3E%3Cpath d='M79.9471 44.1304L79.7914 43.7399C80.4444 43.4381 80.7759 43.1381 80.7859 42.8398L77.0561 33.4863C76.8484 33.2887 76.418 33.3408 75.765 33.6426L75.6093 33.2521L82.9195 29.8736L83.6388 31.6774L83.2578 31.8534C82.9909 31.184 82.7143 30.8494 82.4279 30.8496L78.673 32.5849L80.3785 36.8619L82.918 35.6882C83.1154 35.4649 83.0806 35.0185 82.8137 34.349L83.1946 34.173L84.381 37.1482L84.0001 37.3243C83.7331 36.6549 83.4565 36.3202 83.1701 36.3204L80.6306 37.4941L82.5066 42.1987L86.6424 40.2874C86.8903 40.0113 87.0067 39.495 86.9915 38.7386L87.3543 38.5709L87.6382 40.5759L79.9471 44.1304Z' fill='black'/%3E%3Cpath d='M96.5518 36.4453L96.4835 36.0303C97.1826 35.8617 97.5687 35.6316 97.6419 35.34L96.0062 25.4004C95.8463 25.165 95.4168 25.1316 94.7178 25.3002L94.6495 24.8852L99.0381 23.8269C100.643 23.4397 101.909 23.4426 102.835 23.8357C103.761 24.2287 104.287 24.8072 104.413 25.5713C104.532 26.2958 104.424 26.9863 104.087 27.6426C103.749 28.2858 103.18 28.834 102.38 29.2872L105.736 33.3674C105.911 33.6128 106.361 33.6481 107.086 33.4733L107.154 33.8883L106.319 34.0897C105.413 34.3082 104.815 34.3976 104.526 34.3577C104.237 34.3179 103.918 34.0936 103.568 33.685L100.522 30.0228L98.6967 30.463L99.4284 34.9092C99.5882 35.1446 100.018 35.178 100.717 35.0094L100.785 35.4244L96.5518 36.4453ZM97.7699 24.8312L98.5861 29.7912L100.198 29.4025C101.234 29.1527 101.912 28.7768 102.233 28.2747C102.554 27.7727 102.635 27.0342 102.474 26.0594C102.355 25.3348 102.043 24.828 101.538 24.5389C101.045 24.2467 100.249 24.2333 99.1487 24.4987L97.7699 24.8312Z' fill='black'/%3E%3Cpath d='M268.732 171.998L269.144 172.08C269.004 172.787 269.054 173.225 269.292 173.395L279.147 175.347C279.432 175.28 279.644 174.894 279.783 174.186L280.195 174.268L279.304 178.787C278.961 180.529 278.155 181.826 276.888 182.677C275.634 183.531 274.158 183.79 272.46 183.454C270.762 183.118 269.479 182.326 268.612 181.079C267.745 179.832 267.472 178.39 267.795 176.753L268.732 171.998ZM279.026 177.201L268.798 175.176L268.461 176.885C268.379 177.304 268.39 177.728 268.495 178.157C268.611 178.602 268.823 179.046 269.129 179.487C269.436 179.929 269.907 180.329 270.542 180.686C271.177 181.043 271.939 181.309 272.827 181.485C274.525 181.822 275.882 181.689 276.896 181.086C277.921 180.5 278.534 179.696 278.736 178.674L279.026 177.201Z' fill='black'/%3E%3Cpath d='M264.035 193.267L264.425 193.422C264.161 194.092 264.13 194.532 264.334 194.742L273.675 198.449C273.967 198.435 274.245 198.093 274.51 197.423L274.9 197.577L271.938 205.082L270.136 204.367L270.291 203.976C270.959 204.241 271.398 204.272 271.608 204.068L273.129 200.213L268.858 198.519L267.829 201.126C267.842 201.418 268.183 201.697 268.852 201.962L268.697 202.353L265.726 201.174L265.88 200.783C266.549 201.049 266.988 201.079 267.197 200.875L268.226 198.268L263.527 196.404L261.852 200.65C261.865 201.014 262.145 201.448 262.691 201.952L262.544 202.324L260.919 201.162L264.035 193.267Z' fill='black'/%3E%3Cpath d='M255.373 212.234C255.701 211.668 256.123 211.142 256.637 210.654C257.151 210.167 257.415 209.911 257.428 209.888C257.469 209.819 257.481 209.718 257.466 209.585C257.45 209.453 257.396 209.36 257.304 209.306L257.535 208.908L259.935 210.309L259.714 210.689C258.949 210.413 258.245 210.458 257.602 210.824C256.963 211.208 256.436 211.757 256.02 212.473C255.665 213.084 255.512 213.667 255.56 214.22C255.609 214.774 255.909 215.212 256.461 215.534C256.714 215.682 256.978 215.759 257.252 215.764C257.52 215.781 257.807 215.725 258.113 215.595C258.425 215.483 258.698 215.357 258.934 215.217C259.181 215.083 259.488 214.899 259.855 214.665C260.227 214.45 260.514 214.286 260.719 214.173C261.206 213.917 261.57 213.728 261.811 213.606C262.063 213.49 262.411 213.354 262.857 213.197C263.296 213.051 263.699 212.993 264.067 213.023C264.435 213.053 264.786 213.165 265.12 213.36C265.799 213.756 266.234 214.427 266.424 215.372C266.615 216.318 266.486 217.177 266.037 217.95C265.843 218.285 265.515 218.65 265.054 219.045C264.594 219.44 264.343 219.673 264.303 219.742C264.223 219.88 264.298 220.017 264.528 220.151L264.297 220.549L262.004 219.442L262.225 219.062C262.772 219.288 263.339 219.279 263.927 219.036C264.527 218.799 265.031 218.329 265.44 217.625C265.748 217.094 265.823 216.567 265.666 216.042C265.513 215.536 265.264 215.182 264.919 214.98C264.7 214.852 264.463 214.783 264.207 214.773C263.962 214.769 263.696 214.83 263.408 214.955C263.119 215.08 262.855 215.204 262.614 215.326C262.385 215.455 262.091 215.631 261.731 215.853C261.364 216.087 261.078 216.26 260.874 216.373C260.312 216.678 259.901 216.894 259.643 217.021C259.384 217.148 259.017 217.289 258.542 217.444C258.06 217.611 257.627 217.667 257.242 217.612C256.863 217.576 256.489 217.45 256.121 217.235C255.269 216.738 254.803 216.002 254.721 215.028C254.64 214.054 254.857 213.122 255.373 212.234Z' fill='black'/%3E%3Cpath d='M249.767 221.653L250.102 221.906C249.67 222.482 249.524 222.899 249.665 223.155L257.694 229.212C257.978 229.277 258.337 229.021 258.769 228.445L259.104 228.698L256.487 232.187L256.152 231.934C256.584 231.358 256.73 230.941 256.589 230.685L248.561 224.628C248.276 224.563 247.917 224.819 247.485 225.395L247.15 225.142L249.767 221.653Z' fill='black'/%3E%3Cpath d='M247.41 242.089C248.22 241.278 248.536 240.197 248.358 238.846C248.188 237.506 247.567 236.297 246.494 235.22C245.845 234.568 245.186 234.077 244.518 233.746C243.85 233.415 243.233 233.25 242.668 233.249C242.113 233.259 241.614 233.353 241.171 233.532C240.729 233.711 240.347 233.961 240.027 234.282C239.5 234.811 239.09 235.4 238.798 236.052L241.692 238.957C241.965 239.061 242.356 238.858 242.864 238.348L243.161 238.646L240.082 241.732L239.785 241.434C240.294 240.924 240.496 240.533 240.393 240.259L238.021 237.878C237.88 237.416 237.918 236.802 238.134 236.037C238.342 235.282 238.822 234.527 239.575 233.772C240.837 232.507 242.264 231.899 243.855 231.947C245.446 231.995 246.806 232.586 247.935 233.719C249.244 235.032 249.86 236.539 249.784 238.238C249.708 239.938 249.082 241.377 247.905 242.557C247.632 242.831 247.222 243.099 246.676 243.364C246.13 243.628 245.828 243.788 245.772 243.845C245.659 243.958 245.697 244.109 245.885 244.298L245.56 244.623L243.626 242.966L243.936 242.654C244.407 243.013 244.958 243.15 245.589 243.066C246.229 242.99 246.836 242.665 247.41 242.089Z' fill='black'/%3E%3Cpath d='M229.505 243.785L229.739 244.134C229.143 244.536 228.869 244.882 228.918 245.17L234.525 253.531C234.773 253.686 235.195 253.562 235.792 253.159L236.026 253.508L233.805 255.006L223.762 251.908L227.864 258.025C228.112 258.179 228.534 258.055 229.131 257.653L229.365 258.002L226.714 259.79L226.48 259.441C227.076 259.039 227.35 258.693 227.3 258.405L221.237 249.362L221.386 249.262L233.438 253.13L228.355 245.55C228.107 245.396 227.685 245.52 227.088 245.922L226.854 245.573L229.505 243.785Z' fill='black'/%3E%3Cpath d='M212.014 255.053L212.182 255.438C211.525 255.728 211.194 256.02 211.192 256.313L215.24 265.534C215.457 265.73 215.894 265.683 216.552 265.392L216.721 265.777L209.356 269.03L208.575 267.252L208.959 267.083C209.249 267.743 209.54 268.074 209.832 268.076L213.615 266.405L211.764 262.189L209.205 263.319C209.01 263.536 209.057 263.975 209.347 264.635L208.963 264.805L207.675 261.871L208.059 261.702C208.349 262.362 208.64 262.693 208.932 262.695L211.49 261.565L209.454 256.927L205.288 258.768C205.042 259.037 204.937 259.543 204.972 260.286L204.607 260.447L204.265 258.475L212.014 255.053Z' fill='black'/%3E%3Cpath d='M196.59 261.675L196.693 262.082C195.996 262.26 195.623 262.493 195.572 262.781L198.043 272.547C198.225 272.776 198.664 272.802 199.361 272.624L199.464 273.032L195.09 274.146C193.49 274.554 192.203 274.572 191.23 274.2C190.257 273.828 189.675 273.267 189.485 272.516C189.305 271.804 189.359 271.122 189.647 270.47C189.939 269.831 190.473 269.281 191.249 268.822L187.506 264.857C187.308 264.618 186.848 264.591 186.125 264.775L186.022 264.367L186.854 264.155C187.758 263.925 188.358 263.827 188.655 263.862C188.952 263.896 189.295 264.112 189.684 264.509L193.077 268.067L194.897 267.603L193.791 263.235C193.61 263.006 193.171 262.98 192.474 263.157L192.371 262.75L196.59 261.675ZM196.297 273.136L195.064 268.263L193.457 268.673C192.425 268.936 191.766 269.317 191.481 269.817C191.195 270.317 191.173 271.046 191.416 272.003C191.596 272.715 191.955 273.209 192.492 273.486C193.016 273.766 193.826 273.766 194.923 273.486L196.297 273.136Z' fill='black'/%3E%3C/svg%3E%0A");
  --darkNavLogo: url("data:image/svg+xml,%3Csvg width='305' height='300' viewBox='0 0 305 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.2754 126.997H84.7266V187.802H80.2754V126.997Z' fill='white'/%3E%3Cpath d='M80.2754 126.997H84.7266V187.802H80.2754V126.997Z' stroke='white'/%3E%3Cpath d='M168.621 106.25H150.872V188.75H168.621V106.25Z' fill='white'/%3E%3Cpath d='M134.906 161.631L147.023 132.432C149.294 133.643 138.995 158.303 137.632 161.934C127.636 188.107 129.453 187.199 126.424 188.107C124.001 188.833 118.346 180.543 115.822 176.307C113.348 171.818 107.886 161.571 105.826 156.488C103.251 150.133 99.0103 140.299 97.1928 135.004C92.4976 124.414 92.1947 124.717 88.2568 118.362C82.3499 108.377 70.6876 108.68 71.7478 108.377C72.808 108.075 74.777 107.621 81.7441 106.864C88.7112 106.108 96.8899 107.772 101.737 109.739C106.583 111.706 110.218 113.067 114.913 118.362C119.524 123.563 120.63 125.845 124.971 134.809L125.213 135.307C128.848 142.811 133.189 155.983 134.906 161.631Z' fill='white'/%3E%3Cpath d='M173.692 186.25C200.003 186.25 221.87 170.316 221.87 147.125C221.87 123.934 200.003 108.75 173.692 108.75' stroke='white' stroke-width='7'/%3E%3Cpath d='M279.027 147.316C279.027 77.1642 220.726 20.2946 148.809 20.2946M148.809 274.338C76.8922 274.338 18.5918 217.469 18.5918 147.316' stroke='white'/%3E%3Cpath d='M286.262 147.317C286.262 73.2671 224.722 13.238 148.81 13.238M148.81 281.395C72.8972 281.395 11.3579 221.366 11.3579 147.317' stroke='white'/%3E%3Cpath d='M30.4073 108.516L30.0049 108.397C30.2548 107.721 30.2728 107.289 30.059 107.101L20.4225 104.257C20.1254 104.295 19.852 104.652 19.6021 105.328L19.1998 105.209L20.2131 102.467L30.5998 101.095L23.1696 94.4657L24.1968 91.686L24.5991 91.8047C24.3492 92.4808 24.3312 92.9129 24.545 93.101L34.1815 95.9444C34.4786 95.9071 34.7521 95.5503 35.0019 94.8742L35.4042 94.9929L33.8913 99.0874L33.4889 98.9687C33.7388 98.2925 33.7568 97.8604 33.543 97.6723L24.941 95.1342L32.7739 102.111L32.6698 102.393L21.5781 103.89L30.295 106.462C30.5921 106.425 30.8655 106.068 31.1154 105.392L31.5177 105.511L30.4073 108.516Z' fill='white'/%3E%3Cpath d='M44.6024 77.6773L44.2482 77.4522C44.5952 76.946 44.7465 76.584 44.7021 76.3662L41.4876 75.6505L39.315 78.8196L41.2061 81.2537C41.484 81.2722 41.819 80.9954 42.2113 80.4232L42.5655 80.6483L40.7098 83.3553L40.3555 83.1302C40.778 82.514 40.8975 82.0923 40.7142 81.8652L33.7502 72.8425L34.2933 72.0502L45.6479 74.6686C45.9368 74.7417 46.2963 74.4646 46.7263 73.8373L47.0805 74.0624L44.6024 77.6773ZM35.9031 74.4002L38.8941 78.2678L40.7951 75.4948L35.9031 74.4002Z' fill='white'/%3E%3Cpath d='M56.2405 63.3447C55.7791 63.8073 55.2372 64.209 54.6148 64.5498C53.9924 64.8906 53.6718 65.0705 53.653 65.0894C53.5965 65.146 53.559 65.2402 53.5405 65.372C53.522 65.5038 53.5507 65.6073 53.6264 65.6823L53.3016 66.008L51.3262 64.0524L51.637 63.7409C52.309 64.1998 53.0037 64.3339 53.721 64.1434C54.4382 63.934 55.0887 63.5367 55.6726 62.9513C56.1717 62.4509 56.4677 61.9277 56.5605 61.3816C56.6533 60.8355 56.4723 60.3373 56.0175 59.8871C55.8091 59.6808 55.5725 59.5404 55.3078 59.466C55.0525 59.3821 54.7596 59.3642 54.4292 59.4124C54.0987 59.4417 53.8013 59.4944 53.5371 59.5706C53.2633 59.6373 52.9189 59.7373 52.5037 59.8704C52.0884 59.9847 51.7675 60.0704 51.541 60.1276C51.0029 60.2517 50.6018 60.3424 50.3375 60.3997C50.0637 60.4477 49.6907 60.4912 49.2186 60.5304C48.7558 60.5602 48.3495 60.5144 47.9996 60.3933C47.6498 60.2721 47.3375 60.0755 47.0627 59.8035C46.5038 59.2501 46.2511 58.4934 46.3049 57.5333C46.3587 56.5733 46.701 55.777 47.332 55.1445C47.6051 54.8707 48.0151 54.6011 48.5622 54.3359C49.1092 54.0706 49.411 53.9096 49.4675 53.853C49.5805 53.7397 49.5423 53.5892 49.3528 53.4017L49.6777 53.0759L51.6238 54.7211L51.313 55.0326C50.8396 54.6766 50.2866 54.542 49.654 54.6287C49.012 54.7061 48.4037 55.0327 47.8293 55.6087C47.3961 56.0429 47.1898 56.533 47.2103 57.0787C47.2308 57.6056 47.3832 58.0098 47.6674 58.2911C47.8474 58.4693 48.0603 58.5957 48.3061 58.6702C48.5425 58.7353 48.8164 58.7438 49.128 58.6957C49.4395 58.6476 49.7275 58.5949 49.9918 58.5376C50.2466 58.4709 50.5769 58.3757 50.9827 58.2521C51.3979 58.119 51.7188 58.0238 51.9453 57.9666C52.5683 57.814 53.0213 57.709 53.3045 57.6516C53.5877 57.5942 53.9796 57.5506 54.4801 57.5207C54.9901 57.4814 55.4247 57.5365 55.7841 57.6859C56.1435 57.8164 56.4747 58.0318 56.7779 58.3319C57.479 59.026 57.746 59.8532 57.5789 60.8136C57.4118 61.774 56.9657 62.6177 56.2405 63.3447Z' fill='white'/%3E%3Cpath d='M58.1469 45.0291L66.3447 39.2394L67.4226 40.8534L67.0797 41.0956C66.6796 40.4966 66.3374 40.224 66.053 40.278L63.3748 42.1694L69.0421 50.6555C69.2883 50.8082 69.7053 50.6769 70.2932 50.2617L70.5266 50.6112L66.9666 53.1254L66.7332 52.776C67.3211 52.3608 67.5899 52.0077 67.5398 51.7166L61.8724 43.2305L59.1943 45.1219C59.0432 45.3756 59.1677 45.8019 59.5677 46.4009L59.2248 46.6431L58.1469 45.0291Z' fill='white'/%3E%3Cpath d='M79.9471 44.1304L79.7914 43.7399C80.4444 43.4381 80.7759 43.1381 80.7859 42.8398L77.0561 33.4863C76.8484 33.2887 76.418 33.3408 75.765 33.6426L75.6093 33.2521L82.9195 29.8736L83.6388 31.6774L83.2578 31.8534C82.9909 31.184 82.7143 30.8494 82.4279 30.8496L78.673 32.5849L80.3785 36.8619L82.918 35.6882C83.1154 35.4649 83.0806 35.0185 82.8137 34.349L83.1946 34.173L84.381 37.1482L84.0001 37.3243C83.7331 36.6549 83.4565 36.3202 83.1701 36.3204L80.6306 37.4941L82.5066 42.1987L86.6424 40.2874C86.8903 40.0113 87.0067 39.495 86.9915 38.7386L87.3543 38.5709L87.6382 40.5759L79.9471 44.1304Z' fill='white'/%3E%3Cpath d='M96.5518 36.4453L96.4835 36.0303C97.1826 35.8617 97.5687 35.6316 97.6419 35.34L96.0062 25.4004C95.8463 25.165 95.4168 25.1316 94.7178 25.3002L94.6495 24.8852L99.0381 23.8269C100.643 23.4397 101.909 23.4426 102.835 23.8357C103.761 24.2287 104.287 24.8072 104.413 25.5713C104.532 26.2958 104.424 26.9863 104.087 27.6426C103.749 28.2858 103.18 28.834 102.38 29.2872L105.736 33.3674C105.911 33.6128 106.361 33.6481 107.086 33.4733L107.154 33.8883L106.319 34.0897C105.413 34.3082 104.815 34.3976 104.526 34.3577C104.237 34.3179 103.918 34.0936 103.568 33.685L100.522 30.0228L98.6967 30.463L99.4284 34.9092C99.5882 35.1446 100.018 35.178 100.717 35.0094L100.785 35.4244L96.5518 36.4453ZM97.7699 24.8312L98.5861 29.7912L100.198 29.4025C101.234 29.1527 101.912 28.7768 102.233 28.2747C102.554 27.7727 102.635 27.0342 102.474 26.0594C102.355 25.3348 102.043 24.828 101.538 24.5389C101.045 24.2467 100.249 24.2333 99.1487 24.4987L97.7699 24.8312Z' fill='white'/%3E%3Cpath d='M268.732 171.998L269.144 172.08C269.004 172.787 269.054 173.225 269.292 173.395L279.147 175.347C279.432 175.28 279.644 174.894 279.783 174.186L280.195 174.268L279.304 178.787C278.961 180.529 278.155 181.826 276.888 182.677C275.634 183.531 274.158 183.79 272.46 183.454C270.762 183.118 269.479 182.326 268.612 181.079C267.745 179.832 267.472 178.39 267.795 176.753L268.732 171.998ZM279.026 177.201L268.798 175.176L268.461 176.885C268.379 177.304 268.39 177.728 268.495 178.157C268.611 178.602 268.823 179.046 269.129 179.487C269.436 179.929 269.907 180.329 270.542 180.686C271.177 181.043 271.939 181.309 272.827 181.485C274.525 181.822 275.882 181.689 276.896 181.086C277.921 180.5 278.534 179.696 278.736 178.674L279.026 177.201Z' fill='white'/%3E%3Cpath d='M264.035 193.267L264.425 193.422C264.161 194.092 264.13 194.532 264.334 194.742L273.675 198.449C273.967 198.435 274.245 198.093 274.51 197.423L274.9 197.577L271.938 205.082L270.136 204.367L270.291 203.976C270.959 204.241 271.398 204.272 271.608 204.068L273.129 200.213L268.858 198.519L267.829 201.126C267.842 201.418 268.183 201.697 268.852 201.962L268.697 202.353L265.726 201.174L265.88 200.783C266.549 201.049 266.988 201.079 267.197 200.875L268.226 198.268L263.527 196.404L261.852 200.65C261.865 201.014 262.145 201.448 262.691 201.952L262.544 202.324L260.919 201.162L264.035 193.267Z' fill='white'/%3E%3Cpath d='M255.373 212.234C255.701 211.668 256.123 211.142 256.637 210.654C257.151 210.167 257.415 209.911 257.428 209.888C257.469 209.819 257.481 209.718 257.466 209.585C257.45 209.453 257.396 209.36 257.304 209.306L257.535 208.908L259.935 210.309L259.714 210.689C258.949 210.413 258.245 210.458 257.602 210.824C256.963 211.208 256.436 211.757 256.02 212.473C255.665 213.084 255.512 213.667 255.56 214.22C255.609 214.774 255.909 215.212 256.461 215.534C256.714 215.682 256.978 215.759 257.252 215.764C257.52 215.781 257.807 215.725 258.113 215.595C258.425 215.483 258.698 215.357 258.934 215.217C259.181 215.083 259.488 214.899 259.855 214.665C260.227 214.45 260.514 214.286 260.719 214.173C261.206 213.917 261.57 213.728 261.811 213.606C262.063 213.49 262.411 213.354 262.857 213.197C263.296 213.051 263.699 212.993 264.067 213.023C264.435 213.053 264.786 213.165 265.12 213.36C265.799 213.756 266.234 214.427 266.424 215.372C266.615 216.318 266.486 217.177 266.037 217.95C265.843 218.285 265.515 218.65 265.054 219.045C264.594 219.44 264.343 219.673 264.303 219.742C264.223 219.88 264.298 220.017 264.528 220.151L264.297 220.549L262.004 219.442L262.225 219.062C262.772 219.288 263.339 219.279 263.927 219.036C264.527 218.799 265.031 218.329 265.44 217.625C265.748 217.094 265.823 216.567 265.666 216.042C265.513 215.536 265.264 215.182 264.919 214.98C264.7 214.852 264.463 214.783 264.207 214.773C263.962 214.769 263.696 214.83 263.408 214.955C263.119 215.08 262.855 215.204 262.614 215.326C262.385 215.455 262.091 215.631 261.731 215.853C261.364 216.087 261.078 216.26 260.874 216.373C260.312 216.678 259.901 216.894 259.643 217.021C259.384 217.148 259.017 217.289 258.542 217.444C258.06 217.611 257.627 217.667 257.242 217.612C256.863 217.576 256.489 217.45 256.121 217.235C255.269 216.738 254.803 216.002 254.721 215.028C254.64 214.054 254.857 213.122 255.373 212.234Z' fill='white'/%3E%3Cpath d='M249.767 221.653L250.102 221.906C249.67 222.482 249.524 222.899 249.665 223.155L257.694 229.212C257.978 229.277 258.337 229.021 258.769 228.445L259.104 228.698L256.487 232.187L256.152 231.934C256.584 231.358 256.73 230.941 256.589 230.685L248.561 224.628C248.276 224.563 247.917 224.819 247.485 225.395L247.15 225.142L249.767 221.653Z' fill='white'/%3E%3Cpath d='M247.41 242.089C248.22 241.278 248.536 240.197 248.358 238.846C248.188 237.506 247.567 236.297 246.494 235.22C245.845 234.568 245.186 234.077 244.518 233.746C243.85 233.415 243.233 233.25 242.668 233.249C242.113 233.259 241.614 233.353 241.171 233.532C240.729 233.711 240.347 233.961 240.027 234.282C239.5 234.811 239.09 235.4 238.798 236.052L241.692 238.957C241.965 239.061 242.356 238.858 242.864 238.348L243.161 238.646L240.082 241.732L239.785 241.434C240.294 240.924 240.496 240.533 240.393 240.259L238.021 237.878C237.88 237.416 237.918 236.802 238.134 236.037C238.342 235.282 238.822 234.527 239.575 233.772C240.837 232.507 242.264 231.899 243.855 231.947C245.446 231.995 246.806 232.586 247.935 233.719C249.244 235.032 249.86 236.539 249.784 238.238C249.708 239.938 249.082 241.377 247.905 242.557C247.632 242.831 247.222 243.099 246.676 243.364C246.13 243.628 245.828 243.788 245.772 243.845C245.659 243.958 245.697 244.109 245.885 244.298L245.56 244.623L243.626 242.966L243.936 242.654C244.407 243.013 244.958 243.15 245.589 243.066C246.229 242.99 246.836 242.665 247.41 242.089Z' fill='white'/%3E%3Cpath d='M229.505 243.785L229.739 244.134C229.143 244.536 228.869 244.882 228.918 245.17L234.525 253.531C234.773 253.686 235.195 253.562 235.792 253.159L236.026 253.508L233.805 255.006L223.762 251.908L227.864 258.025C228.112 258.179 228.534 258.055 229.131 257.653L229.365 258.002L226.714 259.79L226.48 259.441C227.076 259.039 227.35 258.693 227.3 258.405L221.237 249.362L221.386 249.262L233.438 253.13L228.355 245.55C228.107 245.396 227.685 245.52 227.088 245.922L226.854 245.573L229.505 243.785Z' fill='white'/%3E%3Cpath d='M212.014 255.053L212.182 255.438C211.525 255.728 211.194 256.02 211.192 256.313L215.24 265.534C215.457 265.73 215.894 265.683 216.552 265.392L216.721 265.777L209.356 269.03L208.575 267.252L208.959 267.083C209.249 267.743 209.54 268.074 209.832 268.076L213.615 266.405L211.764 262.189L209.205 263.319C209.01 263.536 209.057 263.975 209.347 264.635L208.963 264.805L207.675 261.871L208.059 261.702C208.349 262.362 208.64 262.693 208.932 262.695L211.49 261.565L209.454 256.927L205.288 258.768C205.042 259.037 204.937 259.543 204.972 260.286L204.607 260.447L204.265 258.475L212.014 255.053Z' fill='white'/%3E%3Cpath d='M196.59 261.675L196.693 262.082C195.996 262.26 195.623 262.493 195.572 262.781L198.043 272.547C198.225 272.776 198.664 272.802 199.361 272.624L199.464 273.032L195.09 274.146C193.49 274.554 192.203 274.572 191.23 274.2C190.257 273.828 189.675 273.267 189.485 272.516C189.305 271.804 189.359 271.122 189.647 270.47C189.939 269.831 190.473 269.281 191.249 268.822L187.506 264.857C187.308 264.618 186.848 264.591 186.125 264.775L186.022 264.367L186.854 264.155C187.758 263.925 188.358 263.827 188.655 263.862C188.952 263.896 189.295 264.112 189.684 264.509L193.077 268.067L194.897 267.603L193.791 263.235C193.61 263.006 193.171 262.98 192.474 263.157L192.371 262.75L196.59 261.675ZM196.297 273.136L195.064 268.263L193.457 268.673C192.425 268.936 191.766 269.317 191.481 269.817C191.195 270.317 191.173 271.046 191.416 272.003C191.596 272.715 191.955 273.209 192.492 273.486C193.016 273.766 193.826 273.766 194.923 273.486L196.297 273.136Z' fill='white'/%3E%3C/svg%3E%0A");

  --lightNavMenuButton: url("data:image/svg+xml,%3Csvg width='159' height='82' viewBox='0 0 159 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline opacity='0.8' x1='26.3838' y1='40.5' x2='158.238' y2='40.5' stroke='%23323232' stroke-width='15'/%3E%3Cline opacity='0.8' x1='0.0126953' y1='74.5' x2='158.238' y2='74.5' stroke='%23323232' stroke-width='15'/%3E%3Cline opacity='0.8' x1='0.0126953' y1='7.5' x2='158.238' y2='7.5' stroke='%23323232' stroke-width='15'/%3E%3C/svg%3E%0A");
  --darkNavMenuButton: url("data:image/svg+xml,%3Csvg width='159' height='82' viewBox='0 0 159 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='26.3708' y1='40.5' x2='158.225' y2='40.5' stroke='white' stroke-width='15'/%3E%3Cline x1='-6.10352e-05' y1='74.5' x2='158.225' y2='74.5' stroke='white' stroke-width='15'/%3E%3Cline x1='-6.10352e-05' y1='7.5' x2='158.225' y2='7.5' stroke='white' stroke-width='15'/%3E%3C/svg%3E%0A");
}

nav {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.nav-media {
  display: flex;
  flex-direction: row;
  align-self: end;

  width: fit-content;
  background-color: rgba(0, 0, 0, 0.92);
}
.nav-media_item {
  height: clamp(min(14px), 2.812vw, max(54px));
}

.nav-content {
  display: flex;
  flex-direction: row;

  align-items: baseline;

  margin-top: 3vw;

  padding-right: 6vw;
  padding-left: 6vw;

  transition: 0.4s;
}

.nav-content-menu {
  display: none;
}

.nav-content-button {
  display: flex;

  width: 20vw;

  transition: 0.4s;
}
.nav-content-button_button {
  width: clamp(min(14.905px), 8.281vw, max(155px));
  height: clamp(min(8px), 4.27vw, max(89px));

  border: none;

  transition: 0.4s;

  z-index: 999;
  /* opacity: 0.8; */

  background: none;
  background-size: cover;
  background-image: var(--lightNavMenuButton);
}
.nav-content-button_button-active {
  transform: rotate(180deg);
}

.nav-content-title {
  display: flex;
  flex-direction: column;

  width: 60vw;
}
.nav-content-title_tittle {
  display: flex;
  align-self: center;

  font-size: clamp(min(12px), 6.666vw, max(128px));
  font-family: "Judson", serif;
}

.nav-content-switch {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: baseline;

  width: 20vw;
}
.nav-content-switch_label {
  display: flex;

  position: relative;

  margin-right: 2vw;

  width: clamp(min(11px), 7.812vw, max(150px));
  height: clamp(min(5px), 4.166vw, max(80px));
}
.nav-content-switch_checkbox {
  width: clamp(min(11px), 7.812vw, max(150px));
  height: clamp(min(5px), 4.166vw, max(80px));

  margin: 0;

  z-index: 999;

  opacity: 0;
}
.nav-content-switch_slider {
  position: absolute;
  top: 0.833vw;

  width: clamp(min(11px), 7.812vw, max(150px));
  height: clamp(min(5px), 2.499vw, max(48px));

  margin: 0;

  background-color: #323232;
  border-radius: 5vw;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-content-switch_slider:before {
  position: absolute;
  top: -0.833vw;

  content: "";
  height: clamp(min(8px), 4.166vw, max(80px));
  width: clamp(min(8px), 4.166vw, max(80px));

  margin: 0;

  background-color: #78ba9e;
  border-radius: 5vw;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-content-switch_checkbox:checked + .nav-content-switch_slider {
  background-color: #ffffff;
}
.nav-content-switch_checkbox:checked + .nav-content-switch_slider::before {
  -webkit-transform: translateX(4.166vw);
  -ms-transform: translateX(4.166vw);
  transform: translateX(4.166vw);
}

.nav-content-switch-bulb {
  align-self: center;

  transition: 0.4s;

  width: clamp(min(8.75px), 2.656vw, max(51px));
  height: clamp(min(12px), 3.385vw, max(65px));
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--lightSwitchBulb);
}

.nav-logo {
  display: flex;
  align-self: center;

  margin-top: 1.2vw;

  transition: 0.4s;
}
.nav-logo-active {
  position: relative;
  bottom: clamp(min(24px), 9.2vw, max(176.64px));

  width: clamp(min(110px), 94.791vw, max(1820px));
  height: clamp(min(56px), 30.208vw, max(580px));

  align-self: start;

  margin-left: 2vw;
  margin-bottom: clamp(min(1px), 6vw, max(620px));

  box-shadow: none;
  border: solid clamp(min(2px), 0.52vw, max(10px)) #78ba9e;
}
.nav-logo_logo {
  width: clamp(min(30px), 15.847vw, max(304.28px));
  height: clamp(min(28.68px), 15.625vw, max(300px));

  transition: 0.4s;

  background-size: contain;
  background-image: var(--lightNavLogo);
}
.nav-logo_logo-active {
  display: none;
}
.nav-logo-ankars-pair {
  display: flex;
  flex-direction: row;

  align-items: baseline;
  gap: 1.2vw;
}
.nav-logo-ankars {
  display: none;
  transition: 0.6s;
  overflow: hidden;
}
.nav-logo-ankars_item {
  text-decoration: none;
  color: #ffffff;

  font-family: "Titillium Web", sans-serif;
  font-size: clamp(min(9px), 4.375vw, max(84px));
}
.nav-logo-ankars-arrow {
  display: flex;
  width: 10vw;
}
.nav-logo-ankars-arrow_arrow {
  width: calc(min(17.186px), 3.729vw, max(112px));
  height: calc(min(9.687px), 3.229vw, max(62px));

  transform: rotate(-90deg);
  transition: 0.4s;

  padding-top: 3vw;
  padding-left: 4vw;

  border: none;
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/nav-menu/arrow.png");
}
.nav-logo-ankars-active {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: clamp(min(23px), 9vw, max(156px));
  left: 9.58vw;
  align-self: flex-end;

  padding-top: 2vw;
  padding-left: 3vw;

  width: 83vw;
  height: clamp(min(66px), 32.6vw, max(630px));
  background-color: #323232;
}

.nav-logo-ankars-arrow_arrow-active2 {
  transform: rotate(0deg);
}
.nav-logo-offer-items {
  position: absolute;
  top: clamp(min(31px), 15.6vw, max(291.84px));
  left: 100vw;

  width: 0;
  height: 0;

  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav-logo-offer-items-active2 {
  display: flex;
  flex-direction: column;
  justify-self: right;

  line-height: 1.15;
  padding: 0.6vw 0vw 0.6vw 2.6vw;

  font-size: clamp(min(7px), 2.916vw, max(56px));

  width: 90%;
  height: clamp(min(20px), 10vw, max(192px));
  border-radius: 3vw 0vw 0vw 3vw;
  background-color: rgba(217, 217, 217, 0.25);

  -webkit-transform: translateX(-90vw);
  -ms-transform: translateX(-90vw);
  transform: translateX(-90vw);
}

.nav-logo-ankars_item1 {
  transition: 0.6s;
  margin-top: 2.6vw;
}
.nav-logo-ankars_item1-active2 {
  margin-top: 0vw;
}

.nav-logo-ankars_item2 {
  transition: 0.6s;
  margin-top: 2.6vw;
}
.nav-logo-ankars_item2-active2 {
  margin-top: 0vw;
}

.nav-logo-ankars_item3 {
  transition: 0.6s;
  margin-top: 2.6vw;
}
.nav-logo-ankars_item3-active2 {
  /* margin-top: -2.6vw; */
  margin-top: clamp(min(24px), 12vw, max(230.4px));
}

.nav-content-button_button-dark {
  background-image: var(--darkNavMenuButton);
}
.nav-logo_logo-dark {
  background-image: var(--darkNavLogo);
}
.nav-content-switch-bulb-dark {
  background-image: var(--darkSwitchBulb);
}
.nav-logo-ankars-active-dark {
  /* opacity: 0.22;
  background-color: #d9d9d9; */
}
