main {
  width: 100vw;

  font-family: "Titillium Web", sans-serif;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(min(198.927px), 73.958vw, max(1420px));
  height: clamp(min(65.302px), 18.02vw, max(346px));

  margin: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='1420' height='346' viewBox='0 0 1420 346' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1601_102)'%3E%3Cpath d='M240 339.7H1413.5V136' stroke='%2378BA9E' stroke-width='12'/%3E%3Cpath d='M1366.14 53H53V293.374H1366.14V53Z' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M6 209.697V6H1179.5' stroke='%2378BA9E' stroke-width='12'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1601_102'%3E%3Crect width='1420' height='346' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.frame_text {
  font-size: clamp(min(12px), 2.083vw, max(40px));

  margin-top: 1vw;
  padding: 4.8vw 5.2vw 4vw;
}

.line-home {
  margin-left: 18vw;
  margin-top: 6vw;
}

.home-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 92%;

  margin-top: 6vw;
}

.up_maciek {
  width: clamp(min(72.629px), 21.934vw, max(421.132px));
  height: clamp(min(89.014px), 28.236vw, max(542.131px));
}

.up_maciek-small {
  display: none;
}

.up-container {
  width: 64%;
  margin-top: 0vw;
  margin-left: 2vw;
}
.up-container_title {
  font-size: clamp(min(13px), 5vw, max(96px));
  text-align: center;
}
.up-container_description {
  margin-top: 4vw;
  font-size: clamp(min(12px), 2.083vw, max(40px));
}

.down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;

  width: 92%;

  margin-top: 4vw;
}
.down_daria {
  width: clamp(min(72.629px), 21.934vw, max(421.132px));
  height: clamp(min(89.014px), 28.236vw, max(542.131px));
}
.down_daria-small {
  display: none;
}

.down-container {
  width: 58%;
  /* margin-top: 2vw; */
  margin-right: 2vw;
}
.down-container_description {
  padding-top: 6.4vw;
  font-size: clamp(min(12px), 2.083vw, max(40px));
}

@media screen and (min-width: 2px) and (max-width: 776px) {
  .frame {
    width: clamp(min(193.2px), 87vw, max(667.36px));
    height: clamp(min(104.871px), 40.335vw, max(313px));

    background-size: cover;
    background-image: url("../../assets/home-frame.png");
  }
  .frame_text {
    width: 100%;
    font-size: clamp(min(11px), 3.608vw, max(28px));

    text-align: center;

    line-height: 1.42;

    margin-top: 3vw;
    padding: 1vw 6vw 1vw;
  }

  @media screen and (min-width: 261px) and (max-width: 287px) {
    .frame {
      width: clamp(min(193.2px), 92vw, max(667.36px));
      height: clamp(min(95.203px), 45.335vw, max(313px));

      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='713' height='352' viewBox='0 0 713 352' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M683.285 319.294V31.4708H29.6642V319.294H683.285Z' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M709.745 234.313V3.37187L383.516 3.37188' stroke='%2378BA9E' stroke-width='6'/%3E%3Cpath d='M3.17834 116.892V347.833H329.409' stroke='%2378BA9E' stroke-width='6'/%3E%3C/svg%3E%0A");
    }
  }
  @media screen and (min-width: 226px) and (max-width: 260px) {
    .frame {
      width: clamp(min(180), 90.952vw, max(196px));
      height: clamp(min(124px), 55vw, max(143px));

      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='196' height='124' viewBox='0 0 196 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1613_102)'%3E%3Cpath d='M187.968 113.347V9.71686H8.15039V113.347H187.968Z' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M194.974 78V1L105.696 1' stroke='%2378BA9E' stroke-width='2'/%3E%3Cpath d='M1.02612 46V123H90.3036' stroke='%2378BA9E' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1613_102'%3E%3Crect width='196' height='124' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); /* background-image: url("data:image/svg+xml,%3Csvg width='191' height='124' viewBox='0 0 191 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1606_114)'%3E%3Cpath d='M183.173 113.347V9.71684H7.94238V113.347H183.173Z' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M190 78V1L103 1' stroke='%2378BA9E' stroke-width='2'/%3E%3Cpath d='M1 46V123H88' stroke='%2378BA9E' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1606_114'%3E%3Crect width='191' height='124' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); */
    }
  }
  @media screen and (min-width: 2px) and (max-width: 225px) {
    .frame {
      width: clamp(min(110), 90.952vw, max(196px));
      height: clamp(min(44px), 60.44vw, max(123px));

      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='158' height='101' viewBox='0 0 158 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1613_106)'%3E%3Cpath d='M151.487 94.7127V5.48108H5.67407V94.7127H151.487Z' fill='black' fill-opacity='0.3'/%3E%3Cpath d='M156.537 67.0231V0.721436L84.1421 0.721437' stroke='%2378BA9E' stroke-width='2'/%3E%3Cpath d='M0.934814 33.9071V100.209H73.3292' stroke='%2378BA9E' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1613_106'%3E%3Crect width='158' height='101' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .frame_text {
      margin-top: 3vw;
      padding: 1.5vw 5.6vw 1vw;
    }
  }

  .line-home {
    margin: auto;
    margin-top: 6vw;
  }

  .up_maciek {
    display: none;
  }

  .up {
    justify-content: center;

    margin-top: 6vw;
  }
  .up_maciek-small {
    display: flex;

    width: 68%;

    margin: auto;
    margin-top: 4vw;
  }
  .up-container {
    width: 84%;
    margin-top: -2vw;
  }
  .up-container_title {
    font-size: clamp(min(16px), 5.555vw, max(46px));
  }
  .up-container_description {
    font-size: clamp(min(11px), 3.608vw, max(28px));
    text-align: center;
    margin-top: 4vw;
  }

  .down_daria {
    display: none;
  }

  .down {
    justify-content: center;
  }
  .down_daria-small {
    display: flex;

    width: 68%;

    margin: auto;
  }
  .down-container {
    width: 86%;
    margin-top: 6vw;
  }
  .down-container_description {
    font-size: clamp(min(11px), 3.608vw, max(28px));
    text-align: center;

    padding: 0;

    margin-top: 4vw;
  }
}
