<section>
  <div class="title">KONTAKT</div>
  <div class="line-up"></div>

  <div class="contact-pair">
    <img class="contact-pair_maciek2" src="../../assets/maciek2.png" />

    <div class="contact-pair_opis">
      Jeżeli macie pytania odnośnie naszej oferty lub jesteście zainteresowani
      nawiązaniem współpracy, serdecznie zapraszamy do
      <span class="color_primary">kontaktu!</span>
    </div>
  </div>

  <div class="contact-pair2">
    <div class="contact-pair2_phone"></div>
    <div class="contact-pair2_text">+48 572 499 781</div>
  </div>

  <div class="contact-pair2 pair2_down">
    <div class="contact-pair2_email"></div>
    <div class="contact-pair2_text">MasterDesigner@gmail.com</div>
  </div>
</section>
