<main class="offer">
  <div class="title">OFERTA</div>
  <div class="line-up"></div>

  <div class="group">
    <img class="laptop" src="../../assets/laptop.png" />

    <div class="content">
      <div class="lower-title">STRONY INTERNETOWE</div>

      <img class="laptop-small" src="../../assets/laptop.png" />

      <div class="paragraph">
        Nowoczesne strony www. Zarządzanie stronami,<br />
        Konserwacja, Aktualizacje, Modyfikacje, Reklama
      </div>

      <a href="/oferta/strony" class="buttonik buttonik1">WIĘCEJ INFORMACJI</a>
    </div>
  </div>

  <div class="group">
    <img class="dog" src="../../assets/dog2.png" />

    <div class="content content-smallDogo">
      <div class="lower-title">GRAFIKA</div>

      <img class="dog-small" src="../../assets/dog2.png" />

      <div class="paragraph">
        Logo, wizytówki, ulotki, plakaty.<br />
        Dodatkowym elementem mojej pracy jest web<br />
        design oraz wszelkie projekty związane<br />
        z social mediami.
      </div>

      <a href="/oferta/grafika" class="buttonik buttonik2">WIĘCEJ INFORMACJI</a>
    </div>
  </div>
</main>
