<main>
  <div class="title">OFERTA</div>
  <div class="line"></div>

  <div class="group">
    <img class="laptop" src="../../assets/laptop.png" />

    <div class="content">
      <div class="lower-title">STRONY INTERNETOWE</div>

      <img class="laptop-small" src="../../assets/laptop.png" />

      <div class="paragraph">
        Nowoczesne strony www. Zarządzanie stronami,<br />
        Konserwacja, Aktualizacje, Modyfikacje, Reklama
      </div>

      <a href="/oferta/strony" class="buttonik">WIĘCEJ INFORMACJI</a>
    </div>
  </div>

  <div class="group">
    <img class="dog" src="../../assets/dog2.png" />

    <div class="content content-smallDogo">
      <div class="lower-title">GRAFIKA</div>

      <img class="dog-small" src="../../assets/dog2.png" />

      <div class="paragraph">
        Projektowanie logo, wizytówek, Naklejki,<br />
        Broszury, Ulotki, Plakaty, Katalogi, Katalogi<br />
        wirtualne, Papier firmowy,
      </div>

      <a href="/oferta/grafika" class="buttonik">WIĘCEJ INFORMACJI</a>
    </div>
  </div>
</main>
