/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
/* font-family: 'Titillium Web', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
/* font-family: 'Judson', serif; */
.color_primary {
  color: #78ba9e;
}

::ng-deep :root {
  --lineUpBackground: 0, 0, 0;
}

.title {
  font-size: clamp(min(12.8px), 5.208vw, max(100px));
  font-family: "Titillium Web", sans-serif;

  margin-top: 4vw;
  margin-left: 6vw;
}

.line {
  width: clamp(min(140px), 75.833vw, max(1456px));
  height: clamp(min(4px), 0.52vw, max(10px));

  margin-left: 3vw;

  transition: 0.4s;

  background-color: rgba(0, 0, 0, 0.5);
}
.line-up {
  width: clamp(min(140px), 75.833vw, max(1456px));
  height: clamp(min(4px), 0.52vw, max(10px));

  margin-left: 3vw;

  transition: 0.4s;

  background-color: rgba(0, 0, 0, 0.5);
}

.line-dark {
  background-color: rgba(255, 255, 255, 1);
}

.line-up-dark {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 2px) and (max-width: 776px) {
  .title {
    text-align: center;
    margin-left: 0;
  }

  .line {
    width: 86vw;
    height: clamp(min(1px), 0.515vw, max(4px));

    margin: auto;
    margin-top: 1vw;
  }
  .line-up {
    width: 86vw;
    height: clamp(min(1px), 0.515vw, max(4px));

    margin: auto;
    margin-top: 1vw;
  }
}
