<footer>
  <div class="line"></div>

  <div class="container">
    <div class="left">
      <div class="left-description">
        Liczymy, że uda Nam się dojść do porozumienia, w którym obie strony
        umowy będą zadowolone.
      </div>

      <!-- <img src="../../assets/logo.png" class="left-logo" /> -->
      <div class="left-logo"></div>

      <div class="left-signature">Maciej Urbaś & Daria Łopata &copy; 2022</div>
    </div>

    <div class="right">
      <div class="right-title color_primary">SKONTAKTUJ SIĘ Z NAMI</div>

      <form
        class="right-messageForm"
        formGroupName="messageForm"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="right-messageForm_small right-messageForm_small1"
          type="text"
          maxlength="41"
          placeholder="Imię"
          formControlName="name"
        />

        <input
          class="right-messageForm_small right-messageForm_small2"
          type="text"
          maxlength="16"
          placeholder="Temat"
          formControlName="topic"
        />

        <input
          class="right-messageForm_small right-messageForm_small3"
          type="email"
          maxlength="320"
          placeholder="Email"
          formControlName="email"
        />

        <textarea
          class="right-messageForm_large"
          maxlength="500"
          placeholder="Wiadomość"
          formControl="message"
        ></textarea>

        <button class="right-messageForm_submit" type="submit">Wyślij</button>
      </form>
    </div>
  </div>
</footer>
